NODE_ENV=
HOST=
PORT=
OPEN_LOOPS_STATIC_ROOT=
OPEN_LOOPS_DATABASE_PATH=
OPEN_LOOPS_SESSION_SECRET=
OPEN_LOOPS_PUBLIC_ORIGIN=
OPEN_LOOPS_AUTH_MODE=
OPEN_LOOPS_ALLOW_DEVELOPMENT_AUTH=
OPEN_LOOPS_TRUSTED_PROXY_SECRET=
OPEN_LOOPS_TRUSTED_USER_HEADER=
OPEN_LOOPS_CONFIRM_DELETE=
MODEL_PROVIDER_TYPE=
MODEL_PROVIDER_URL=
MODEL_PROVIDER_API_KEY=
MODEL_PROVIDER_NAME=
MODEL_IDENTIFIER=
MODEL_PROVIDER_TIMEOUT_MS=
